/* ==== Import Google fonts === */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

/* ==== Reset style === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-size: 62.5%;
}

/* ==== Common style ====== */
.container {
    width: 80%;
    max-width: 117rem;
    margin: 0 auto;
}
section {
    margin-top: 10rem;
}
button {
    border: none;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    background: #FF5400;
    color: #fff;
    border-radius: .5rem;
    transition: .3s ease;
}
button:hover {
    background: #c64302;
    cursor: pointer;
}
h2 {
  font-size: 3rem;
  color: #131318;
  font-weight: 800;
  margin-bottom: 1rem;
}
p {
  font-size: 1.4rem;
  color: rgba(19, 19, 24, 0.70);
  line-height: 2.3rem;
  margin-bottom: 1rem;
}
hr {
  border: .05rem solid rgba(14, 14, 112, 0.1);
  margin: 2.5rem 0;
}
.section-title {
  max-width: 65rem;
  margin: 3rem auto;
  text-align: center;
}
/* ====== Header section Design ====== */
/* Navbar Design  */
nav {
  height: 5rem;
  width: 100%;
  background-color: #fff;
  position: relative;
}

nav > .nav-header {
  display: inline;
}

nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 800;
  color: #131318;
  padding: 1rem;
}
nav > .nav-header > .nav-title img {
    width: 3rem;
    position: relative;
    top: .5rem;
}
nav > .nav-header > .nav-title > span {
  display: inline-block;
  font-size: 2.2rem;
  font-weight: 800;
  color: #FF5400;
  padding: 1rem;
}

nav > .nav-btn {
  display: none;
}

nav > .nav-links {
  display: inline;
  float: right;
  font-size: 2.2rem;
  margin-top: 1rem;
}

nav > .nav-links > a {
  display: inline-block;
  padding: 1.5rem 1rem;
  text-decoration: none;
  color: #424247;
  transition: .3s ease;
}

nav > .nav-links > a:hover {
  color: #000;
}

nav > #nav-check {
  display: none;
}

/* ===== Hero Section ====== */
.hero-contents {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .2)), url(../images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 3rem;
    padding: 10rem 15rem;
    border-radius: 1rem;
    text-align: center;
}
.hero-contents h1 {
    font-size: 4.6rem;
    color: #fff;
    font-weight: 800;
    margin-bottom: 2rem;
}
.hero-contents p {
    font-size: 1.5rem;
    color: #fff;
    margin: auto;
    margin-bottom: 5rem;
    max-width: 70rem;
}
.hero-contents form {
    background: rgba(187, 179, 179, 0.4);
    padding: 1rem;
    border-radius: 1rem;
    max-width: 65rem;
    margin: 0 auto;
}
.hero-contents form button i {
    font-size: 1.6rem;
}
.hero-contents form input, select {
    font-size: 1.4rem;
    padding: 1rem;
    border: none;
    outline: none;
    display: inline-block;
    width: 15rem;
    border-radius: .5rem;
    margin-right: 1.5rem;
}
.hero-contents form select option {
    font-size: 1.4rem;
    color: rgba(19, 19, 24, 0.50);
}

/* === Main contents start ====== */
/* Popular tour  */
.popular-contents {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.popular-details {
  flex-basis: 48%;
}
.popular-details ul {
  font-size: 1.4rem;
  color: rgba(19, 19, 24, 0.70);
  list-style-position: inside;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
}
.popular-details ul li {
  font-size: 1.4rem;
  line-height: 2.3rem;
  margin: 1rem 0;
}
.popular-details button {
  margin-top: 2rem;
}
.popular-photo {
  flex-basis: 48%;
  border-radius: 1rem;
}
.popular-photo img {
  width: 100%;
  height: 100%;
}

/* ======Start Choose your destination === */
.destination-contents {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 22rem);
  gap: 1rem;
}
.destination-contents > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
}
.image1 {
  background: url('../images/maldive.png') no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  grid-column: span 6;
}
.image2 {
  background: url('../images/indo.png') no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  grid-column: span 6;
}
.image3 {
  background: url('../images/srilanka.png') no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  grid-column: span 3;
}
.image4 {
  background: url('../images/america.png') no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  grid-column: span 6;
}
.image5 {
  background: url('../images/kashmir.png') no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  grid-column: span 3;
}
.image6 {
  background: url('../images/bangladesh.png') no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  grid-column: span 4;
}
.image7 {
  background: url('../images/bandarban.png') no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  grid-column: span 8;
}
/* ======End Choose your destination === */

/* ======= Start Travel Packages ==== */
.package-contents {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.single-package {
  flex-basis: 33%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: .1rem .4rem .5rem 0 rgba(0, 0, 0, 0.2);
}
.package-image img {
  width: 100%;
}
.single-package h4 {
  font-size: 1.8rem;
  margin: 1rem 0;
  font-weight: bold;
  color: #FF5400;
}
.single-package h2 {
  font-size: 2.2rem;
}
.single-package p i {
  font-size: 1.4rem;
  color: #FF5400;
  margin-right: .5rem;
}
.single-package .focusOn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.single-package .focusOn .reviews i {
  font-size: 1.4rem;
  color: #FF5400;
  margin-right: .2rem;
}
.single-package .focusOn .reviews span {
  font-size: 1.4rem;
  color: #424247;
  font-weight: 800;
  margin-right: .2rem;
}
.single-package .focusOn .reviews small {
  font-size: 1rem;
  color: #5A5A5D;
}
.single-package .focusOn .price {
  font-size: 1.4rem;
  color: #424247;
}
.single-package .focusOn .price strong {
  font-size: 1.6rem;
  font-weight: bold;
  color: #FF5400;
  margin-left: .2rem;
}

/* ======= End Travel Packages ==== */


/* ==== Why choose us ===== */
.why-chose-us-contents {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
}
.why-chose-us-contents h4 {
  font-size: 2rem;
  color: #131318;
  font-weight: 800;
  margin: 1rem 0;
}
.why-chose-us-contents p {
  max-width: 95%;
}
.why-chose-us-contents .content1 {
  padding: 1.5rem;
  background: rgba(251, 181, 99, 0.05);
  border: .1rem solid rgba(251, 181, 99, 0.20);
  border-radius: 1rem;
  grid-column: span 6;
}
.why-chose-us-contents .content2 {
  padding: 1.5rem;
  border: .1rem solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
  border-radius: 1rem;
  grid-column: span 6;
}
.why-chose-us-contents .content3 {
  padding: 1.5rem;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
  border-radius: 1rem;
  grid-column: 3/10;
}

/* ==== Start What Travelers Say ===== */
.what-say-contents {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.single-what-say {
  flex-basis: 32%;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: .1rem .4rem .5rem 0 rgba(0, 0, 0, 0.2);
}
.single-what-say .icon i {
  font-size: 4rem;
  color: #FF5400;
}
.single-what-say .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem auto;
}
.single-what-say .profile .pic {
  max-width: 10rem;
}
.single-what-say .profile .pic img {
  width: 100%;
  border-radius: 50%;
}
.single-what-say .profile .profile-detail {
  width: 70%;
  text-align: left;
  margin-left: 1.2rem;
}
.profile .profile-detail p {
  margin-bottom: .5rem;
}
.profile .profile-detail p i {
  font-size: 1.4rem;
  color: #FF5400;
}
.profile .profile-detail h3 {
  font-size: 1.4rem;
  font-weight: 800;
  color: #424247;
  margin-bottom: .5rem;
}
.profile .profile-detail h5 {
  font-size: 1.4rem;
  color: #5A5A5D;
  margin-bottom: .5rem;
}
/* ==== End What Travelers Say ===== */

/* ==== Newsletter Section ===== */
.newsletter-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.newsletter-contents form {
  flex-basis: 40%;
  padding: 2rem;
  border: .1rem solid #FF5400;
  border-radius: 1rem;
}
.newsletter-contents form h4 {
  font-size: 1.8rem;
  font-weight: 800;
  color: #131318;
  margin-bottom: 1rem;
}
.newsletter-contents form input {
  background: rgba(19, 19, 24, 0.05);
  display: block;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.6rem;
}
.newsletter-contents form input::placeholder {
  color: rgba(19, 19, 24, 0.30);
}
.newsletter-contents form button {
  display: block;
  width: 100%;
}
.newsletter-contents .discount {
  background: url('../images/saveupto.png') no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  border-radius: 1rem;
  flex-basis: 58%;
  min-height: 29rem;
  position: relative;
}
.newsletter-contents .discount .saveupto {
  width: 20rem;
  padding: 1rem;
  border-radius: .5rem;
  background: #FF5400;
  text-align: center;
  position: absolute;
  bottom: 5rem;
  right: 1rem;
  transform: rotate(-30deg);
}
.newsletter-contents .discount .saveupto a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  display: block;
  transition: .3s ease;
}
.discount .saveupto a:hover {
  color: #f0f0f0;
}
.discount .saveupto h3 {
  font-size: 2.2rem;
  font-weight: 800;
  color: #fff;
}



/* ======= Footer style ========  */
footer {
  margin-top: 10rem;
  padding: 8rem 0;
  background: rgba(19, 19, 24, 0.05);
}
.footer-fontents {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}
.footer-title {
  display: block;
  font-size: 2.6rem;
  font-weight: 800;
  color: #131318;
  padding: 1rem;
}
.footer-title img {
    width: 3rem;
    position: relative;
    top: .5rem;
}
.footer-title > span {
  display: inline-block;
  font-size: 2.6rem;
  font-weight: 800;
  color: #FF5400;
  padding: 1rem;
}
.footer-fontents p {
  color: #5A5A5D;
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}
.footer-fontents .social-contact a {
  text-decoration: none;
  width: 4rem;
  height: 4rem;
  background: #e3e3e6;
  color: #131318;
  padding: 1rem;
  margin: 1rem .3rem;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease;
}
.social-contact a i {
  font-size: 1.8rem;
}
.social-contact a:hover {
  background: #cdcaca;
}
.footer-fontents small {
  font-size: 1.4rem;
  color: #131318;
}